ul, li {
  list-style-type: none;
}

* {
  margin: 0%;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* NAVBAR STYLING */

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 6rem;
  margin: auto;
}

.nav-content nav ul {
  display: flex;
}

.nav-content nav ul li {
  margin-left: 2rem;
  font-size: large;
}

.nav-content nav ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* HOMEPAGE STYLING */
.homepage-container {
  display: flex;
  width: 98%;
  margin: auto;
  /* border: 1px solid red; */
}

.homepage-workouts-list {
  width: 70%;
}

.homepage-main-lifts-list {
  width: 25%;
}